.checkout-btns {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.submit-payment-button {
  border: none;
  border-radius: 6px;
  background-color: #09b1ba;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 28px;
  margin-top: 20px;
}

.submit-payment-button:hover {
  background-color: #0899a1;
}
