.publish-page {
  background-color: #ebedee;
}

.publish-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.publish-page input[type="file"] {
  display: none;
}

.publish-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

/* 
.file-selection {
  display: flex;
  flex-direction: column;
}

.text-input-section {
  display: flex;
  flex-direction: column;
}

.preview-picture {
  width: 300px;
} */
