/* ----------------HEADER---------------- */

header {
  height: 60px;
  padding: 10px;
}
header input {
  background-color: #f5f6f7;
  padding: 1px 2px 1px 40px;
  border-radius: 7px;
  border: #f5f6f7;
}
.header-logo {
  width: 80px;
  object-fit: cover;
  cursor: pointer;
}

.header-section {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
}
.search-input {
  width: 630px;
  height: 40px;
  padding-left: 40px;
}
.search-icon {
  left: 20px;
  position: absolute;
  left: 10px;
  /* Mettre verticalement l'icone */
  top: 50%;
  transform: translateY(-50%);
  color: #999999;
}

.right-side-header {
  display: flex;
  align-items: center;
  gap: 70px;
}

header button {
  font-size: 12px;
  width: 115px;
  height: 30px;
  border: 1px #2cb1ba solid;
  border-radius: 7px;
  cursor: pointer;
}

.deconnection-btn {
  color: white;
  background-color: #c2175b;
  border: none;
  cursor: pointer;
}

.login-signup-btn {
  display: flex;
  gap: 30px;
  button {
    color: #2cb1ba;
    background-color: white;
  }
}

.sell-btn {
  color: white;
  background-color: #2cb1ba;
}
