/* ------------------------SIGNUP */

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------FORM */

.signup-page form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 275px;
  margin-top: 20px;
}
.signup-page input {
  height: 55px;
  border: none;
  border-bottom: 0.5px #999999 solid;
}

.checkbox {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.newsletter-check-conditions {
  padding: 10px;
  font-size: 16px;
  margin-top: 30px;
}

.newsletter-check-conditions label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.legal-conditions {
  font-size: 12px;
  color: #999999;
  margin-bottom: 30px;
  text-align: justify;
}

.submit-btn {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #2cb1ba;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.redirection {
  font-size: 12px;
  color: #2cb1ba;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

/* ---------error msg */
.error {
  margin-top: 20px;
  color: red;
  text-align: center;
  font-size: 16px;
}
