/* ---------GLOBALS--------- */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ---------HEADER--------- */
header {
  height: 120px;
  padding: 10px;
  background-color: aqua;
}

.header-logo {
  width: 80px;
  height: 40px;
  object-fit: contain;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section input {
  width: 630px;
  height: 40px;
}

.right-side-header {
  display: flex;

  align-items: center;
  border: 3px pink solid;
  gap: 70px;
}

/* ---------MAIN--------- */

/* Hero */

.hero > img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

/* Articles */

.homepage-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-article {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.owner-info {
  display: flex;

  align-items: center;
  gap: 10px;
  padding-left: 10px;
  background-color: aqua;
  margin-bottom: 10px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.homepage-offer-info {
  display: flex;
  flex-direction: column;

  background-color: bisque;
}
.homepage-offer-info > img {
  height: 360px;
  width: 230px;
  object-fit: cover;
}

.homepage-product-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 10px;
  align-items: flex-start;
  background-color: pink;
}

/* //retirer les couleurs des liens */
.homepage-articles a {
  text-decoration: none;
  color: inherit;
}
